*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}
button,
input,
textarea{
    font-family: inherit;
    font-size: inherit;
}
body{
    background-color: rgb(118, 106, 90);
}
.container{
    margin: 1em;
    padding: 1em;
    background-color: white;
    width: fit-content;
    border-radius: 1em;
}
.container *{
margin: .5em ;
}
input{
    padding: .8em;
    border: none;
    background-color: #dcefff;
    border-radius: .8em;
    width: 100%;
}
input:active{
    border: red;
    outline: red;
}
input:focus{
    border: red;
    outline: red;
}
button{
    background-color: rgb(206, 220, 97);
    padding: .8em 1.2em;
    border:none;
    font-weight: bold;
}
button:hover{
    background-color: rgb(220, 235, 109);
    cursor: pointer;
}
.tasks-container{
margin-left: 0;
margin-right: 0;

}
li{
    padding: 5px;
    border-radius: 5px;
    background-color: #dcefff;
    margin-left: 0;
    list-style: none;
}
article p{
    padding: 5px;
    border-radius: 5px;
    background-color: #dcefff;
    margin-left: 0;
}
.top-part{
    display: flex;
}
.top-part *{
    margin: 2px;
}